---
// Redirect /blog to home (listagem de posts)
---
<!doctype html>
<html lang="pt-BR">
	<head>
		<meta http-equiv="refresh" content="0;url=/" />
		<link rel="canonical" href="/" />
		<title>Redirecionando...</title>
	</head>
	<body>
		<p>Redirecionando para a página inicial…</p>
		<script>
			window.location.replace('/');
		</script>
	</body>
</html>
